<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %> 


<body>
		<%- include('./partials/header') %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
	
			<!-- Show the "ultimos" products -->
			<form method="get"> 
				<h1>Ingresa a tu cuenta</h1>
				<div class="inset">
				<p>
				  <label for="email">EMAIL</label>
				  <input type="text" name="email" id="email">
				</p>
				<p>
				  <label for="password">CONTRASEÑA</label>
				  <input type="password" name="password" id="password">
				</p>
				<p>
				  <input type="checkbox" name="remember" id="remember">
				  <label for="remember">Recordarme </label>
				</p>
				</div>
				<p class="p-container">
				  <span>Olvidaste tu contraseña?</span>
				  <input type="submit" name="go" id="go" value="Log in">
				</p>
			  </form>

  <%- include('./partials/footer') %> 

</body>

</html>