<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>


	<body>
		<% if (logueado) { %>
			<%- include('./partials/headerLogueado')%>
			<% } else { %>
			<%- include('./partials/header')%>
			<% } %>
			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h1>Carga tu Producto</h1>
					</div>
					<!-- Show the "ultimos" products -->
					<div>
						<form action="/products/add" method="post">
							<p>
								<label for="model"> Modelo</label>
								<input type="text" name="model" id="model">
							</p>
							<p>
								<label for="marca">Marca</label>
								<input type="text" name="marca" id="marca">
							</p>
							<p>
								<label for="year"> Año</label>
								<input type="number" name="year" id="year">
							</p>
							<p>
								<label for="price">Precio</label>
								<input type="number" name="price" id="price">
							</p>
							<p>
								<label for="imagen">Imagen</label>
								<input type="file" name="imagen" id="imagen">
							</p>
		
							<h2><input type="submit" class="boton"> </input></h2>
						</form>
					</div>



					<%- include('./partials/footer') %>
	</body>

</html>