<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>


	<body>
		<%- include('./partials/headerLogueado') %>
			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h1>Carga tu Producto</h1>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<form method="get">
							<p>
								<label for="nombreDelProducto"> Nombre del Producto</label>
								<input type="text" name="nombreDelProducto" id="nombreDelProducto">
							</p>
							<p>
								<label for="descripcion">Descripcion</label>
								<input type="text" name="descripcion" id="descripcion">
							</p>
							<p>
								<label for="imagen">Imagen</label>
								<input type="file" name="imagen" id="imagen">
							</p>
							<p>
								<label for="fechaDeCarga"> Fecha de Carga </label>
								<input type="date" id="fechaDeCarga" name="fechaDeCarga" min="1966-01-01"
									max="2022-12-31">
							</p>
						</form>
					</h2>


					<%- include('./partials/footer') %>
	</body>

</html>