<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>



	<body>
		<%- include('./partials/headerLogueado') %>

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Editar mi perfil</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<form method="get">
							<h1>Editar mi Perfil</h1>
							<p>
								<label for="email"> CORREO ELECTRONICO</label>
								<input type="text" name="email" id="email">
							</p>
							<p>
								<label for="usuario">USUARIO</label>
								<input type="user" name="usuario" id="usuario">
							</p>
							<p>
								<label for="fechaDeNacimiento"> FECHA DE NACIMIENTO</label>
								<input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento" value="2022-07-16"
									min="1966-01-01" max="2022-12-31">
							</p>
							<p>
								<label for=¨nroDeDocumento¨> DNI</label>
								<input type="number" name=¨nroDeDocumento¨ name="nroDeDocumento" />
							</p>
							<p>
								<label for="fotoDePerfil">FOTO DE PERFIL</label>
								<input type="file" />
							</p>
							<p>
								<label for="contrasenia">CONTRASEÑA</label>
								<input type="password" name="contrasenia" id="contrasenia">
							</p>
						</form>






						<%- include('./partials/footer') %>
	</body>

</html>