<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
	<link rel="stylesheet" href="/stylesheets/register.css">

	<body>

		<%- include('./partials/header') %>

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
					</div>
					<!-- Show the "ultimos" products -->
					<div class="registro">
					<form method="get">
						<h1>Registrate</h1>
						<div class="inset">
							<p>
								<label for="name"> NOMBRE</label>
								<input type="text" name="nombre" id="nombre">
							</p>
							<p>
								<label for="lastname">APELLIDO</label>
								<input type="user" name="usuario" id="usuario">
							</p>
							<p>
								<label for="date_of_birth"> FECHA DE NACIMIENTO</label>
								<input type="date" id="start" name="trip-start" value="2022-07-16" min="1966-01-01"
									max="2022-12-31">
							</p>
							<p>
								<label for=¨email¨> EMAIL</label>
								<input type="email" name="email" id="email" />
							</p>
							<p>
								<label for="contrasenia">CONTRASEÑA</label>
								<input type="password" name="contrasenia" id="contrasenia">
							</p>
							<p>
								<label for="confirmar contrasenia">CONFIRMAR CONTRASEÑA</label>
								<input type="password" name="contrasenia" id="contrasenia">
							</p>
							<p>
								<label for="fotoDePerfil">FOTO DE PERFIL</label>
								<input type="file" />
							</p>
							
							<p>
								<input type="checkbox" name="remember" id="remember">
								<label for="remember">Recordar usuario</label>
							</p>
						</div>
						<p class="p-container">
							<input type="submit" name="go" id="go" value="Log in">
						</p>
					</form>
				</div>


					<%- include('./partials/footer') %>
	</body>


</html>